h1{
    color:red;
}
/* select */
.green{
    /* rules */
    color: green;
}
.green.large{
    font-size: 40px;
}

.container h1{
    background-color: lightblue;;
}
p.green{
    background: #000;
}


